.bodyContainer {
    font-family: 'Arial', sans-serif;
    background-image: url('../imagenes/FondoMK.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.inventoryContainer {
    background: rgba(218, 216, 217, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: #000;
}

.inventoryContainer h2 {
    font-size: 26px;
    color: #000;
    margin-bottom: 30px;
}

.inputContainer {
    margin-bottom: 20px;
    text-align: left;
}

.inputContainer label {
    display: block;
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
}

.inputContainer input {
    width: 90%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: #333;
    color: #fff;
}

.inputContainer select {
    width: 95%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: #333;
    color: #fff;
}

.inputContainer input:focus,
.inputContainer select:focus {
    border: 2px solid #262523;
}

.inputContainer select {
    appearance: none;
    cursor: pointer;
    background-color: #444;
    color: #fff;
    border: 1px solid #262523;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
}

.inputContainer select:hover {
    background-color: #555;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: white;
    background-color: #D92579;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

button:hover {
    background-color: #400C24;
}

.message {
    margin-top: 20px;
    color: #ff6666;
    font-size: 16px;
}
