/* Contenedor general */
.bodyContainer {
    font-family: 'Roboto', sans-serif;
    background-image: url('../../imagenes/FondoMKJ.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

/* Tarjeta del formulario */
.formContainer {
    background: rgba(255, 255, 255, 0.8); 
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 500px;
    text-align: center;
    color: #333;
}

/* Título */
.title {
    color: #333;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}

/* Campo de entrada */
.inputContainer {
    margin-bottom: 20px;
    text-align: left;
}

.inputContainer label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
    font-weight: 500;
}

.inputContainer input,
.inputContainer select,
.inputContainer textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s ease;
}

.inputContainer input:focus,
.inputContainer select:focus,
.inputContainer textarea:focus {
    border-color: #D92579; /* Color de foco */
    box-shadow: 0 0 5px rgba(217, 37, 121, 0.3);
}

/* Estilo para textarea */
.inputContainer textarea {
    height: 100px;
    resize: vertical;
}

/* Botón */
.submitBtn {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: #D92579;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 15px;
}

.submitBtn:hover {
    background-color: #400C24;
    transform: translateY(-2px); /* Pequeña animación de levantamiento */
}

.submitBtn:active {
    transform: translateY(0); /* Efecto de presionar el botón */
}

/* Mensaje */
.message {
    margin-top: 20px;
    color: #D92579;
    font-size: 16px;
    font-weight: 500;
}

/* Responsividad */
@media (max-width: 768px) {
    .formContainer {
        padding: 20px;
    }

    .title {
        font-size: 24px;
    }

    .submitBtn {
        padding: 12px;
    }
}
