.bodyContainer {
    font-family: 'Arial', sans-serif;
    background-image: url('../imagenes/FondoMKJ.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loginCard {
    background: rgba(218, 216, 217, 0.7);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 350px;
    text-align: center;
    color: #fff;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #D9115A;
    margin-bottom: 15px;
}

.loginCard h2 {
    color: #000;
    margin-bottom: 20px;
    font-size: 24px;
}

.inputContainer {
    margin-bottom: 15px;
    text-align: left;
}

.inputContainer label {
    display: block;
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
}

.inputContainer input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: #333;
    color: #fff;
}

.inputContainer input:focus {
    border: 2px solid #262523;
}

.showPasswordContainer {
    display: flex;
    align-items: center;
    gap: 2px;
}

.loginBtn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: white;
    background-color: #D92579;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.loginBtn:hover {
    background-color: #400C24;
}

.registerBtn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: white;
    background-color: #D92579;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registerBtn:hover {
    background-color: #400C24;
}

.message {
    margin-top: 20px;
    color: #ff6666;
    font-size: 16px;
}
